#linx-menu #linx-menu-list-app ul li{
    color: black;
    display: inline-block;
    height: 98px;
    padding: 0px;
    vertical-align: top;
    width: 100px;
    z-index: 999;
    text-align: center;
    margin-bottom: 10px;
}

#linx-menu #linx-menu-list-app ul li a{
    background-color:none;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    text-decoration: none;
    text-align: center;
}
#linx-menu #linx-menu-list-app ul li a:hover, #linx-menu ul li.active a{
    background-color:transparent;
    color: #999;
}
#linx-menu #linx-menu-list-app ul{
    padding: 0px;
    margin: 0px;
}
#linx-menu #linx-menu-list-app .popover-title{
    color: #08c;
}
#linx-menu .btn-group.open .dropdown-toggle{
    
}
#linx-menu .btn-group > .btn:first-child{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
#linx-menu .btn{
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
}
#linx-menu .btn-group.open .dropdown-toggle{
    box-shadow: none;
}
#linx-menu #linx-menu-list-app a:focus {
    outline: transparent;
    outline-offset: initial;
}
#linx-menu .dropdown-menu li > a{
    text-align: left;
}
#linx-menu img{
    opacity: 0.7;
}
#linx-menu .btn-group{
    margin-left: 15px;
}



#linx-menu .popover {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 1px;
    position: absolute;
    text-align: left;
    top: 0;
    white-space: normal;
    width: 236px;
    z-index: 1010;
    opacity: 1;
}
#linx-menu .popover.top {
    margin-top: -10px;
}
#linx-menu .popover.right {
    margin-left: 10px;
}
#linx-menu .popover.bottom {
    margin-top: 15px;
}
#linx-menu .popover.left {
    margin-left: -10px;
}
#linx-menu .popover-title {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 8px 14px;
}
#linx-menu .popover-content {
    max-height: 300px;
    overflow: scroll;
    padding: 9px 14px;
}
#linx-menu .popover .arrow, .popover .arrow::after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
#linx-menu .popover .arrow {
    border-width: 11px;
}
#linx-menu .popover .arrow::after {
    border-width: 11px;
    content: "";
    left: -1px;
    top: -11px;
}
#linx-menu .popover.top .arrow {
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
}
#linx-menu .popover.top .arrow::after {
    border-bottom-width: 0;
    border-top-color: #fff;
    bottom: 1px;
    margin-left: -10px;
}
#linx-menu .popover.right .arrow {
    border-left-width: 0;
    border-right-color: rgba(0, 0, 0, 0.25);
    left: -11px;
    margin-top: -11px;
    top: 50%;
}
#linx-menu .popover.right .arrow::after {
    border-left-width: 0;
    border-right-color: #fff;
    bottom: -10px;
    left: 1px;
}
#linx-menu .popover.bottom .arrow {
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-top-width: 0;
    left: 50%;
    margin-left: -11px;
    top: -11px;
}
.popover.bottom .arrow::after {
    border-bottom-color: #fff;
    border-top-width: 0;
    margin-left: -10px;
    top: 1px;
}
#linx-menu .popover.left .arrow {
    border-left-color: rgba(0, 0, 0, 0.25);
    border-right-width: 0;
    margin-top: -11px;
    right: -11px;
    top: 50%;
}
#linx-menu .popover.left .arrow::after {
    border-left-color: #fff;
    border-right-width: 0;
    bottom: -10px;
    right: 1px;
}


#linx-menu .btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-small {
    border-radius: 3px;
    font-size: 11.9px;
    padding: 2px 10px;
}
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
    margin-top: 0;
}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
    margin-top: -1px;
}
.btn-mini {
    border-radius: 3px;
    font-size: 10.5px;
    padding: 0 6px;
}
.btn-block {
    box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.btn-block + .btn-block {
    margin-top: 5px;
}
input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"] {
    width: 100%;
}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    background-color: #006dcc;
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0044cc;
    color: #ffffff;
}
.btn-primary:active, .btn-primary.active {
}
.btn-warning {
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #f89406;
    color: #ffffff;
}
.btn-warning:active, .btn-warning.active {
}
.btn-danger {
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #bd362f;
    color: #ffffff;
}
.btn-danger:active, .btn-danger.active {
}
.btn-success {
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #51a351;
    color: #ffffff;
}
.btn-success:active, .btn-success.active {
}
.btn-info {
    background-color: #49afcd;
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #2f96b4;
    color: #ffffff;
}
.btn-info:active, .btn-info.active {
}
.btn-inverse {
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222222;
    color: #ffffff;
}
.btn-inverse:active, .btn-inverse.active {
}
button.btn, input.btn[type="submit"] {
}
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button.btn.btn-large, input.btn.btn-large[type="submit"] {
}
button.btn.btn-small, input.btn.btn-small[type="submit"] {
}
button.btn.btn-mini, input.btn.btn-mini[type="submit"] {
}
.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}
.btn-link {
    border-color: transparent;
    border-radius: 0;
    color: #0088cc;
    cursor: pointer;
}
.btn-link:hover {
    background-color: transparent;
    color: #005580;
    text-decoration: underline;
}
.btn-link[disabled]:hover {
    color: #333333;
    text-decoration: none;
}
.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-group:first-child {
}
.btn-group + .btn-group {
    margin-left: 5px;
}
.btn-toolbar {
    font-size: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group {
    margin-left: 5px;
}
.btn-group > .btn {
    border-radius: 0;
    position: relative;
}
.btn-group > .btn + .btn {
    margin-left: -1px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 14px;
}
.btn-group > .btn-mini {
    font-size: 10.5px;
}
.btn-group > .btn-small {
    font-size: 11.9px;
}
.btn-group > .btn-large {
    font-size: 17.5px;
}
.btn-group > .btn:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.btn-group > .btn.large:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    margin-left: 0;
}
.btn-group > .btn.large:last-child, .btn-group > .large.dropdown-toggle {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active {
    z-index: 2;
}
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
    outline: 0 none;
}
.btn-group > .btn + .dropdown-toggle {
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    padding-left: 8px;
    padding-right: 8px;
}
.btn-group > .btn-mini + .dropdown-toggle {
    padding-left: 5px;
    padding-right: 5px;
}
.btn-group > .btn-small + .dropdown-toggle {
}
.btn-group > .btn-large + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
}

.btn .caret {
    margin-left: 0;
    margin-top: 8px;
}
.btn-mini .caret, .btn-small .caret, .btn-large .caret {
    margin-top: 6px;
}
.btn-large .caret {
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
}
.dropup .btn-large .caret {
    border-bottom-width: 5px;
}
.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}
.btn-group-vertical {
    display: inline-block;
}
.btn-group-vertical > .btn {
    border-radius: 0;
    display: block;
    float: none;
    max-width: 100%;
}
.btn-group-vertical > .btn + .btn {
    margin-left: 0;
    margin-top: -1px;
}
.btn-group-vertical > .btn:first-child {
    border-radius: 4px 4px 0 0;
}
.btn-group-vertical > .btn:last-child {
    border-radius: 0 0 4px 4px;
}
.btn-group-vertical > .btn-large:first-child {
    border-radius: 6px 6px 0 0;
}
.btn-group-vertical > .btn-large:last-child {
    border-radius: 0 0 6px 6px;
}
.alert {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.dropdown-menu .divider {
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
}
.dropdown-menu li > a {
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 20px;
    padding: 3px 20px;
    white-space: nowrap;
    text-decoration: none;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-color: #0081c2;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    color: #ffffff;
    text-decoration: none;
}
.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #0081c2;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    color: #ffffff;
    outline: 0 none;
    text-decoration: none;
}
.dropdown-menu .disabled > a, .dropdown-menu .disabled > a:hover {
    color: #999999;
}
.dropdown-menu .disabled > a:hover {
    background-color: transparent;
    background-image: none;
    cursor: default;
    text-decoration: none;
}
.open {
}
.open > .dropdown-menu {
    display: block;
}
.pull-right > .dropdown-menu {
    left: auto;
    right: 0;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-bottom: 4px solid #000000;
    border-top: 0 none;
    content: "";
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    bottom: 100%;
    margin-bottom: 1px;
    top: auto;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    border-radius: 0 6px 6px;
    left: 100%;
    margin-left: -1px;
    margin-top: -6px;
    top: 0;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropup .dropdown-submenu > .dropdown-menu {
    border-radius: 5px 5px 5px 0;
    bottom: 0;
    margin-bottom: -2px;
    margin-top: 0;
    top: auto;
}
.dropdown-submenu > a::after {
    border-color: transparent transparent transparent #cccccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
}
.dropdown-submenu:hover > a::after {
    border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    border-radius: 6px 0 6px 6px;
    left: -100%;
    margin-left: 10px;
}
.dropdown .dropdown-menu .nav-header {
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    background-image: none;
    background-repeat: repeat-x;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
    top: -18px;
}

.btn .caret {
    margin-left: 0;
    margin-top: 8px;
}
.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}
.dropdown-menu-right {
    left: auto;
    right: 0;
    top: 50px;
}